@using System.Collections.Generic
@using eFeiras.Business.Feiras;
@inject NavigationManager NavigationManager
<!--Este componente serve para apresentar uma feira dentro daquele retangulozinho quando o utilizador entra.-->
@if(Feira == null)
{
    <h5>Loading...</h5>
}
else
{
    <div class="card" @onclick="OnClickCard">
        <div class="card-body">
            <h5 class="card-title">@Feira.getName()</h5>
            <!--Colocar a imagem da feira, a data de inicio e de fim e a categoria.-->
            <img class="ilustr" src="@Feira.getImgPath()" alt="@Feira.getName()" /><br />
            <div style="height: 5px"></div>
            <div style="height: auto; width: auto;">
                <span>Início: @Feira.getDataInicio().ToString("dd-MM-yyyy")</span><br />
                <span>Fim: @Feira.getDataFim().ToString("dd-MM-yyyy")</span><br />
                <span>Categoria: @Feira.getCategoria().getNome()</span>
                @if (Feira.utilizadorTemBanca(CurrentUser.getCurrentUser().getID()))
                {
                    <br/>
                    <span>
                        <img class="iconImg" src="Media/icon_banca.png" alt="Já tem Banca!">
                    </span>
                }
            </div>
        </div>
    </div>
}


<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        /*Feito por mim*/
        height: 100%;
        width: 100%;
        font-size: 12px;
        border-radius: 10px;
    }
    .card:hover{
        opacity: 70%;
        cursor: pointer;
    }

    .card-body {
        padding: 2px 16px;
    }

    .card-title {
        font-size: 18px;
    }

    .ilustr {
        width: 80%;
        height: 30%;
        border-radius: 10px;
        object-fit: cover;
    }
</style>

@code {
    [Parameter]
    public Feira? Feira { get; set; }

    public void OnClickCard()
    {
        // TODO: Arranjar maneira de redirecionar para a página da feira para ver as bancas e assim...
        VisitedFeira.setFeira(Feira);
        //NavigationManager.NavigateTo("VisitaFeiraVend");
    }
}
